@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');
@import url(loginpage.css);
@import url(toggle-mode.css);
@import url(sidebar.css);

:root {
    --primary-color: #f3f3f3;
    --secondary-color: #e7e7e8;
    --font-color: #111315;

    --bg-color: #f3f3f3;
    --heading-color: #2d2d2d;
    --border-color: #2d2d2d;
    --invert:0;

    --sidebar-desktop-size: 200px;
    --sidebar-table-size: 100px;
    --sidebar-mobilc-size: 80px;
}

[data-theme="dark"] {
    --primary-color: #111315;
    --secondary-color: #2d2d2d;
    --font-color: #f3f3f3;

    --bg-color: #292c35;
    --heading-color: #e7e7e8;
    --border-color: #e7e7e8;
    --invert:1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Athiti', sans-serif;
    color: var(--font-color);
    background: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}


.container {
    position:relative;
	height:100vh;
    padding-left: var(--sidebar-desktop-size);
    /* margin: 2rem auto; */
    font-size: 16px;
    /* width: 100%; */
}

.text-danger{
    color: red;
    font-style: italic;
}

.dashboard{
    padding-left: 2em;
}

.searchbar{
    padding: 1em 0em 1em 1em;
}
.searchbar .search-form{
    padding: 1em;
    border-radius: 5px;
    width: 30vmin;
    outline: none;
    color: var(--font-color);
    border: 0;
    background: var(--secondary-color);
}

.search-form::placeholder{
    color:var(--font-color);
}
