@import url(./toggle-mode.css);

:root {
    --primary-color: #fff;
    --secondary-color: #818cab;
    --font-color: #000;
    --bg-color: #fff;
    --heading-color: #818cab;
    --border-color: #000;
}

[data-theme="dark"] {
    --primary-color: #9a97f3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #292c35;
    --heading-color: #fff;
    --border-color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    height: 100vh;
    background: var(--bg-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    /* margin: 2rem auto; */
    font-size: 16px;
    /* width: 100%; */
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-container .login-form {
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 1.5em;
    border: 0.1px solid var(--border-color);
    box-shadow: 1px 1px 15px 15px var(--border-color);
}

.login-field {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.login-form .login-title {
    font-size: 5vmin;
    white-space: nowrap;
    font-weight: 600;
    text-align: center;
    color: var(--heading-color);
    user-select: none;
    border-radius: 15px 15px 0 0;
    padding: 0.5em 1em;
}

.login-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border-width: 0;
    color: white;
    border-style: none;
    border-bottom: solid 2px var(--border-color);
    background: transparent;
    font-size: 1.5vmax;
    padding: 0.5em 0 0.5em 1em;
}

.login-field input:focus {
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(255, 255, 255, 0.5);
}

.login-field button[type="submit"] {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
    padding: 0.5em 0;
    font-size: 20px;
    border-radius: 25px;
}
