
.sidebar{
    background: var(--primary-color);
    color: var(--font-color);
	height:100vh;
	width:var(--sidebar-desktop-size);
    padding: 2em 0 2em 2em;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
	outline:none;
    transition: 0.3s;
    border-right: 1px solid var(--border-color);
}

.sidebar .logo-img{
    width: 100px;
}
.logo-img img{
    filter: invert(var(--invert));
    transition: 0.3s;
}

.menu-area{
    font-size: 3vmin;
}

.menu-area ul li{
    list-style:none;
    margin:0;
    padding-left: 0.5em;
}

