
.toggle-theme{
    display: flex;
}


.toggle-theme label {
    width: 80px;
    height: 34px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;

}

.toggle-theme label:after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.toggle-theme input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.toggle-theme input:checked + label {
    background: #242424;
}
.toggle-theme input:checked + label:after {
    left: 78px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}
.toggle-theme label,
label:after {
    transition: 0.3s;
}

.toggle-theme label svg {
    position: absolute;
    width: 30px;
    top: 2px;
    z-index: 100;
}
.toggle-theme label svg.sun {
    left: 2px;
    fill: var(--border-color);
    transition: 0.3s;
    opacity: 1;
}
.toggle-theme label svg.moon {
    left: 48px;
    opacity: 0.2;
    fill: #7e7e7e;
    transition: 0.3s;
}
.toggle-theme input:checked + label svg.sun {
    fill: var(--border-color);
    opacity: 0.2;
}
.toggle-theme input:checked + label svg.moon {
    fill: var(--border-color);
    opacity: 1;
}
